/.vscode
/ab 2.5 part2.py
/Create Loopback100 interface.py
/Create Loopback111 interface.py
/get operational data.py
/lab 2.5.py
/lab idle.py
/myapp
/nnclient 2.py
/RestConf Python.py
/Retrive Device running configuration.py
/script 1 result.png
/script 1.png
/script 2 result.png
/Script 2.png
/script 3 result.png
/script 3.png
/script 4 result.png
/script 4.png
/Script 5 result.png
/script 5.png
/static
/templete
/Update Device's configuration.py
/Visual Studio 2022.code-workspace